{% extends 'layout/base.html' %}

{% block title %}Appointment{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/appointment.css') }}">
{% endblock %}

{% block content %}
    <div class="form-appointment">
        <div class="my-grid">
            <div class="my-row" style="align-items: center;">
                <div class="my-col-6 my-col-12">
                    <h1 class="form-appointment__title">Appointment</h1>
                    <div class="form-appointment__line"></div>
                    <section class="form-appointment__container">
                        <form action="#" class="form">
                            <div class="column">
                                <div class="input-box">
                                    <label for="firstname">First name</label>
                                    <input type="text" name="firstname" id="firstname" placeholder="First name" required/>
                                </div>

                                <div class="input-box">
                                    <label for="lastname">Last name</label>
                                    <input type="text" name="lastname" id="lastname" placeholder="Last name" required/>
                                </div>
                            </div>

                            <div class="input-box">
                                <label for="email">Email Address</label>
                                <input type="email" name="email" id="email" placeholder="Email address" required/>
                            </div>

                            <div class="column">
                                <div class="input-box">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" name="phone" id="phone" placeholder="Phone number" required/>
                                </div>
                                <div class="input-box">
                                    <label for="dob">Birthdate</label>
                                    <input type="date" name="dob" id="dob" placeholder="Birth date" required/>
                                </div>
                            </div>

                            <div class="gender-box">
                                <h3>Gender</h3>
                                <div class="gender-option">
                                    <div class="gender">
                                        <input type="radio" id="check-male" name="gender"/>
                                        <label for="check-male">Male</label>
                                    </div>
                                    <div class="gender">
                                        <input type="radio" id="check-female" name="gender"/>
                                        <label for="check-female">Female</label>
                                    </div>
                                </div>
                            </div>

                            <div class="input-box">
                                <label for="address">Address</label>
                                <input type="text" name="address" id="address" placeholder="Address" required/>
                            </div>

                            <div class="input-box">
                                <label for="symptom">Symptom</label>
                                <input type="text" name="symptom" id="symptom" placeholder=" Enter Symptom" required/>
                            </div>

                            <div class="input-box">
                                <label for="day_of_exam">Day of the examination</label>
                                <input type="date" name="day_of_exam" id="day_of_exam" required/>
                            </div>

                            <button class="form-appointment__btn">Submit</button>
                        </form>

                        <a href="./index.html" class="back-to-home">Back to home</a>
                    </section>
                </div>

                <div class="my-col-6">
                    <div class="form-appointment__image">
                        <img src="{{ url_for('static', filename='images/Appointment.svg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}