<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/images/icon-web.png" type="image/x-icon">
    <title>Appointment</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/appointment.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="form-appointment">
        <div class="grid">
            <div class="row" style="align-items: center;">
                <div class="col-6 col-12">
                    <h1 class="form-appointment__title">Appointment</h1>
                    <div class="form-appointment__line"></div>
                    <section class="form-appointment__container">
                        <form action="#" class="form">
                            <div class="column">
                                <div class="input-box">
                                    <label>First name</label>
                                    <input type="tex" placeholder="Enter first name" required />
                                </div>

                                <div class="input-box">
                                    <label>Last name</label>
                                    <input type="text" placeholder="Enter last name" required />
                                </div>
                            </div>

                            <div class="input-box">
                                <label>Email Address</label>
                                <input type="text" placeholder="Enter email address" required />
                            </div>

                            <div class="column">
                                <div class="input-box">
                                    <label>Phone Number</label>
                                    <input type="tel" placeholder="Enter phone number" required />
                                </div>
                                <div class="input-box">
                                    <label>Birth Date</label>
                                    <input type="date" placeholder="Enter birth date" required />
                                </div>
                            </div>

                            <div class="gender-box">
                                <h3>Gender</h3>
                                <div class="gender-option">
                                    <div class="gender">
                                        <input type="radio" id="check-male" name="gender" checked />
                                        <label for="check-male">Male</label>
                                    </div>
                                    <div class="gender">
                                        <input type="radio" id="check-female" name="gender" />
                                        <label for="check-female">Female</label>
                                    </div>
                                </div>
                            </div>

                            <div class="input-box">
                                <label>Address</label>
                                <input type="text" placeholder="Enter Address" required />
                            </div>

                            <div class="input-box">
                                <label>Symptom</label>
                                <input type="text" placeholder=" Enter Symptom" required />
                            </div>

                            <div class="input-box">
                                <label>Day of the examination</label>
                                <input type="date" required />
                            </div>

                            <button class="form-appointment__btn">Submit</button>
                        </form>

                        <a href="./index.html" class="back-to-home">Back to home</a>
                    </section>
                </div>

                <div class="col-6">
                    <div class="form-appointment__image">
                        <img src="./assets/images/Appointment.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>