<header>
    <div class="nav">
        <div class="grid">
            <div class="row">
                <div class="col-2">
                    <div class="nav__logo">
                        <a href="{{ url_for('index') }}">
                            <img src="{{ url_for('static', filename='images/default-logo.png') }}" class="default-logo" alt="Default Logo">
                            <img src="{{ url_for('static', filename='images/sub-logo.png') }}" class="sub-logo" alt="Sub Logo">
                        </a>
                    </div>
                </div>

                <div class="btn-open">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="col-10">
                    <ul class="nav__menu">
                        <div class="btn-close">
                            <i class="fa-solid fa-xmark btn-close"></i>
                        </div>
                        <li><a href="{{ url_for('index') }}" class="choose">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Doctor</a></li>
                        <li><a href="">Appointmen</a></li>
                        <li><a href="">Medicine</a></li>
                        <li><a href="{{ url_for('auth') }}">Sign in</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>